.nav {
    background-color: $Darkblue;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color: $Deepyellow;

    &__links {
        display: flex;
        align-items: flex-end;
        width: 100vw;
        justify-content: space-evenly;

        h3 {
            box-sizing: border-box;
            margin: 0px;
            font-weight: 500;
            font-size: 5vw;
            border-bottom: solid 4px transparent;
            padding: 0px 1vw 3vw 1vw;
            cursor: pointer;
            &:hover {
                border-bottom: solid 4px $Deepyellow;
            }
        }

        .selected {
            border-bottom: solid 4px $Deepyellow;
        }
    }
    img {
        width: 100vw;
        display: inline-block;
    }

    button {
        background-color: $Darkblue;
        border: 0px;
        font-family: PhotoSprite;
        color: $Deepyellow;
        padding: 0px;
        

        img {
            width: 30vw;
            vertical-align: bottom;
        }
    }

    .logoutButton {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 5vw;
        height: 12.5vw;
        width: 30vw;
        margin-bottom: 1vw;
        cursor: pointer;

        .profilepic {
            box-shadow: 3px 3px 5px 1px rgba(31, 31, 31, 0.5);
            border-radius: 50%;
            height: 10vw;
            width: 10vw;
            margin: 0px 5px;
        }
    }

    .googleButton {
        margin-bottom: 3vw;
        cursor: pointer;
    }
}

@media (min-width: 600px) {
    .nav {
        height: 80px;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        color: $Deepyellow;

        &__links {
            height: 80px;
            display: flex;
            align-items: flex-end;
            width: 73vw;
            justify-content: space-between;

            h3 {
                font-weight: 500;
                font-size: 16px;
                margin: 0px 10px;
                padding: 0px 10px 25px 10px
            }
        }

        img {
            width: 160px;
            float: left;
        }

        button {
            margin-left: 20vw;
            margin-right: 3vw;
            align-self: center;

            img {
                width: 150px;
            }
        }

        .logoutButton {
            font-size: 16px;
            margin: 0px 3vw 0px 0px;
            width: 150px;
            float: right;
            height: 35px;
            align-self: center;
        

            .profilepic {
                border-radius: 50%;
                height: 35px;
                width: 35px;
                margin: 0px 5px;
            }
        }
        .googleButton {
            margin-bottom: 0px;
        }
    }
    
}

@media (min-width: 1024px) {
    .nav {
        &__links {
            width: 82vw;

            h3 {
                font-weight: 500;
                font-size: 16px;
                margin: 0px 10px;
            }
        }

        button {
            margin-left: 40vw
        }

        .logoutButton {
            margin-left: 40vw
        }
    }
}