$Darkblue: #34495E;
$Deepyellow: #F3C507;
$Lavender: #6A687A;
$Gray: #D2D7DF;

@font-face {
    font-family: "PhotoSprite";
    src: url(../assets/fonts/PatuaOne-Regular.otf);
}

// * { border: 1px solid red; }

body {
    font-family: PhotoSprite;
    color: $Deepyellow;
}

.link {
    text-decoration: none;
    color: $Deepyellow
}


@import "takephoto";
@import "galleryItem";
@import "gallery";
@import "converter";
@import "uploader";
@import "hero";
@import "nav";