$Darkblue: #34495E;
$Deepyellow: #F3C507;
$Lavender: #6A687A;
$Gray: #D2D7DF;

@font-face {
    font-family: "PhotoSprite";
    src: url(../assets/fonts/PatuaOne-Regular.otf);
}


body {
    font-family: PhotoSprite;
    color: $Deepyellow;
}

.converter {
    background-color: $Gray;

    display: flex;
    flex-direction: column;

    h1 {
        margin: 0px;
        font-size: 10vw;
    }

    &__options {
        color: $Darkblue;

        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 80vw;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            .converter__options--palette {
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 85vw;
                margin: 5vw 0px;

                button, input {
                    padding: 0px 2px;
                    height: 13vw;
                    width: 13vw;
                    font-size: 9vw;
                    font-weight: bold;
                    background-color: $Gray;
                    color: $Darkblue;
                    border: none;
                    cursor: pointer;
                    margin: 1vw;

                    &:hover {
                        background-color: $Gray;
                        color: $Darkblue;
                    }
                }

                button {
                    background-color: transparent;
                }
            }


            button {
                background-color: $Darkblue;
                box-sizing: border-box;
                color: $Deepyellow;
                font-family: PhotoSprite;
                font-size: 3vw;
                border-radius: 1vw;
                border: none;
                padding: 2vw;
                vertical-align: top;
                cursor: pointer;
                transition: 0.3s;
                width: 20vw;
                margin: 2vw;

                &:hover {
                    color: $Darkblue;
                    background-color: $Deepyellow;
                    transition: 0.3s;
                }
            }

            .converter__options--size {
                display: flex;
                justify-content: space-between;
                width: 60vw;
                font-size: 4vw;

                input {
                    width: 10vw;
                } 
            }
        }
    }

    &__results {

        h1 {
            margin: 5vw;
        }

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $Darkblue;

        img {
            image-rendering: pixelated;
            width: 80vw;
        }

        button {
            box-sizing: border-box;
            background-color: $Deepyellow;
            color: $Darkblue;
            font-family: PhotoSprite;
            font-size: 3vw;
            border-radius: 1vw;
            padding: 1vw;
            vertical-align: top;
            border: solid 1px $Deepyellow;
            cursor: pointer;
            transition: 0.3s;
            margin: 5vw;

            &:hover {
                color: $Deepyellow;
                background-color: $Darkblue;
                transition: 0.3s;
            }
        }
    }

    
}

@media (min-width: 600px) {
    .converter {

        h1 {
            margin: 0px;
            font-size: 7vw;
        }

        &__options {
            form {
                .converter__options--palette {

                    button, input {
                        height: 8vw;
                        width: 8vw;
                        font-size: 6vw;
                    }
                }
                .converter__options--size {
                    font-size: 3vw;
                    width: 50vw;
                }
            }
        }

        
    }
}

@media (min-width: 1024px) {
    .converter {
        flex-direction: row;

        h1 {
            margin: 10px;
            font-size: 3vw;
        }

        &__options {
            width: 50vw;

            img {
                max-height: 384px;
                max-width: 384px;
                width: auto;
            }
            form {
                flex-direction: row;
                justify-content: space-between;
                width: 50vw;

                .converter__options--palette {
                    margin: 20px;
                    width: auto;
                    max-width: 250px;

                    button, input {
                        height: 3vw;
                        width: 3vw;
                        font-size: 2vw;
                        margin: 2px;
                    }
                }
                .converter__options--size {
                    font-size: 1.5vw;
                    width: 20vw;

                    input {
                        width: 50px;
                    }

                    
                }
                
                button {
                    font-size: 1.5vw;
                    padding: 1vw;
                    width: auto;
                }
            }
        }

        &__results {

            h1 {
                
            }

            img {
                width: auto;
                max-height: 384px;
                max-width: 384px;
            }

            button {
                font-size: 1vw;

                &:hover {

                }
            }
        }
    }
}





@import "uploader";
@import "hero";
@import "nav";